<!DOCTYPE html>
<html lang="sr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title != site.name%} СПК | {% endif %} 
		{% if page.categories != null %} {{ page.categories|translate}} | {% endif %}
		{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="google" content="notranslate" />
        <meta http-equiv="Content-Language" content="sr" />


        <!-- syntax highlighting CSS 
        <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS 
        <link rel="stylesheet" href="/css/main.css"> -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <!-- Fontawesome -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/spk.css">

    </head>
    <body>
      <nav class="navbar navbar-default navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>  
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a> 
          </div> 
          <div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li ><a title="Сазнајте више о нашим активностима" href="/aktivnosti">Активности</a></li>
            <li><a title="Прочитајте вести" href="/vesti">Вести</a></li>
            <li><a title="Наши чланци" href="/clanci">Чланци</a></li>
      <li ><a title="Сазнајте више о нашим циљевима" href="/ciljevi" role="navigation">Циљеви и акти</a></li>
            <li><a title="Контактирајте нас" href="/kontakt">Контакт</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">

          {{ content }}

      </div>

      <hr class="featurette-divider">
      <div id="footer">
        <p>
         © 2014 <a href="http://srpskipravnickiklub.rs">СРПСКИ ПРАВНИЧКИ КЛУБ</a>. Сва права задржана
        </p>
       </div>
      </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36706408-2', 'srpskipravnickiklub.rs');
      ga('send', 'pageview');

    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  </body>
</html>
