---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">
{% include date-source-author.html %}
</p>
<div class="post">
{{ content }}
</div>
<i class="fa fa-external-link"></i> <a href="{{page.link}}">Прочитај цео текст</a>
